	<div id="login">

		<h2><span class="fontawesome-lock"></span>Sign In</h2>

		<form action="javascript:void(0);" method="POST">

			<fieldset>

				<p><label for="username">Username</label></p>
				<p><input ng-model="login.username" type="text" id="username" placeholder="slicksloth87"></p>

				<p><label for="password">Password</label></p>
				<p><input ng-model="login.password" type="password" id="password" placeholder="password"></p>

				<p><input ng-click="loginUser(login)"type="submit" value="Sign In"></p>

			</fieldset>

		</form>

	</div> <!-- end login -->
